<section class="main">
  <!-- <div><img src="" alt="" class="img"></div> -->
  <div>
    <h2>Hello I'm Abdelrahman Ali <br /><span>Backend Developer</span></h2>
    <h3>I build Software Applications</h3>
    <div class="social-media">
      <a
        href="https://www.linkedin.com/in/abdelrahman-ali-gomaa/"
        target="_blank"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
      <a href="https://github.com/abdoaligomaa" target="_blank"
        ><i class="fa-brands fa-github"></i
      ></a>
    </div>
  </div>
</section>
