<section class="about-section">
  <div class="container">
    <h2>About Me</h2>
    <p>
      Hi, I'm Abdelrahman Ali Gomaa, a dedicated software developer with a
      passion for creating innovative solutions in both web and mobile
      applications. I enjoy tackling challenges that can simplify people's lives
      and have a positive impact on the community through technology. With
      experience in various technologies, I've worked on projects that have
      helped me grow as a developer.
    </p>
    <p>
      I am constantly improving my skills and learning new technologies to help
      businesses and individuals address complex problems with scalable and
      efficient solutions. Currently, I’m diving deeper into full-stack
      development and continuously expanding my knowledge to stay at the
      forefront of the industry.
    </p>
    <p>
      Outside of coding, I love spending time with family, staying active at the
      gym, and keeping up with the latest trends in technology and software
      development.
    </p>
  </div>
</section>
